﻿<!DOCTYPE html>
<html ng-app="SpatialVisionTask">
<head>
    <meta charset="utf-8" />
    <title>Spatial Vision Task</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="styles/app.css" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<a class="navbar-brand" href="#">Task</a>
			</div>
			<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			</ul>
			<ul class="nav navbar-nav" style="float:right">
			<li ng-if="loggedin"><a href="#!/login">Logout</a></li>
			</ul>
			
		</div>
	</nav>
    <div  style="background:transparent !important" class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                  <!-- <div ng-if="flash.type === 'error'"class="alert alert-error" ng-show="flash.sype === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message">  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div> -->
                  <div ng-if="flash.type === 'error'" class="alert alert-danger" ng-show="flash.show_alert">
					<button type="button" class="close" ng-click="flash.show_alert=false">&times;</button>
					{{flash.message}}
					</div>
					 <div ng-if="flash.type === 'success'" class="alert alert-success" ng-show="flash.show_alert">
					<button type="button" class="close" ng-click="flash.show_alert=false">&times;</button>
					{{flash.message}}
					</div>
				<div ng-view></div>
            </div>
        </div>
    </div>
	<div style="background-color:black !important ; margin: 0px auto; padding: 20px 0px;">
	<div class="container">
	    <div class="col-xs-6 col-sm-5">
            <h5 style="color:white">Our Address</h5>
            <address>
                    121, Clear Water Bay Road<br>
                    Clear Water Bay, Kowloon<br>
                    HONG KONG<br>
            <i class="fa fa-phone"></i>: +852 1234 5678<br>
            <i class="fa fa-fax"></i>: +852 8765 4321<br>
            </address>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="nav navbar-nav" style="padding: 40px 10px;">
                <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i
                            class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
                            class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
                            class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
            </div>
        </div>
        <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p style="color:white;"align=center>© Copyright 2018 </p>
        </div>
	</div>
	</div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
	<script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAd1xMYT1bt99qtFWQEzXiRBvORDWHgPtk&libraries=places'></script>	
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
	<script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
	<link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">
	
	
	<script src="app.js"></script>
    <script src="services/authentication.service.js"></script>
    <script src="services/flash.service.js"></script>
    <script src="services/user.service.local-storage.js"></script>
	<script src="services/map.service.js"></script>
    <script src="home/home.controller.js"></script>
    <script src="login/login.controller.js"></script>
    <script src="register/register.controller.js"></script>
</body>
</html>