﻿a {
    cursor: pointer;
}
#map { 
    height: 150px;
	width:	300px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
hr{

border-top: 1px solid black;
} 

address {
  color: #0f0f0f;
  font-size: 80%;
  color:white;
  margin: 0px;
} 